@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Roboto-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Roboto-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraLight.woff2') format('woff2'),
        url('fonts/Roboto-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraBold.woff2') format('woff2'),
        url('fonts/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

img {
  max-width: 10%;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  padding: 15px 50px 15px 30px;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: auto;
}

.search img {
  max-width: 3%;
}

.search input[type="search"] {
  width: 100%;
  height: 30px;
  padding: 15px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
}

.profile {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

.profile img:first-child {
  max-width: 6%;
}

.greeting .profile {
  justify-content: initial;
}

.greeting .profile img {
  max-width: 10%;
}

.greeting .profile p:first-child {
  font-size: 12px;
}

.greeting .profile p:last-child {
  font-size: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.buttons button {
  font-size: 0.9rem;
  color: #fff;
  background-color: #1992d4;
  border: none;
  border-radius: 20px;
  padding: 5px 25px;
  transition: 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: #2da5e6;
  cursor: pointer;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
  color: #fff;
  background-color: rgb(25, 146, 212);
  padding: 15px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.sidebar .logo h1 {
  font-size: 25px;
}

.sidebar img {
  filter: invert(1);
}

.sidebar .logo img {
  max-width: 15%;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 15px;
  gap: 40px;
}

.links a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.links a > p {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  background-color: #fff;
}

.links a:hover img {
  filter: invert(0);
}

.links a:hover p {
  color: #000;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 25px;
  background-color: #dddddd;
}