@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ThinItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Thin.woff2') format('woff2'),
        url('RobotoSemiCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-LightItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Medium.woff2') format('woff2'),
        url('RobotoSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-SemiBold.woff2') format('woff2'),
        url('RobotoSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Regular.woff2') format('woff2'),
        url('RobotoSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Italic.woff2') format('woff2'),
        url('RobotoSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Light.woff2') format('woff2'),
        url('RobotoSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Bold.woff2') format('woff2'),
        url('RobotoSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-SemiBold.woff2') format('woff2'),
        url('Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
        url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Black.woff2') format('woff2'),
        url('RobotoSemiCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-SemiBoldItalic.woff2') format('woff2'),
        url('Roboto-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

